<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="jmj"/>
    <meta name="description" content="EGOSARA 프로젝트 업체목록 페이지">
    <title>EGOSARA_업체목록</title>
</head>
<body>
<table>
    <caption>회원목록</caption>
    <tr>
        <th>아이디</th>
        <th>업체명</th>
        <th>삭제</th>
    </tr>

    <tr th:each="list : ${smemberList}">
        <!-- <td th:text="${list.sId}">아이디</td> -->
        <td><a th:text="${list.sId}" th:href="@{sView(sId=${list.sId}, sName=${list.sName})}"></a></td>
        <td th:text="${list.sName}">업체명</td>


        <!-- sDelete -->
        <td><a th:if="${session.loginId eq list.sId || session.sloginId eq 'admin'}" th:href="@{sDelete(sId=${list.sId})}"><button>삭제</button></a></td>
    </tr>

</table>


</body>
</html>